
html, body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}


.button {
  text-align: center;
  padding: 15px;
  background: $main-blue-color;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;

  &:disabled {
    background: grey;
    cursor: not-allowed;
  }
}

.input {
  box-sizing: border-box;
  padding: 17px 20px;
  border: 2px solid $main-blue-color;
  border-radius: 3px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #a8aba7;

}

.mat-menu-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $main-text-color;
}

.owl-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 8px;
}
.owl-theme .owl-dots .owl-dot span {
  background: transparent;
  border: 1px solid #fff;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
}

.mat-dialog-container {
  padding: 0 !important;
  border-radius: 10px!important;
  border: 2px solid $main-blue-color;
  width: 731px !important;
}
