@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.catalog {
  padding-top: 80px;
  padding-bottom: 120px;

  .container {

    .catalog-title {
      @include headLora38;
      margin-bottom: 40px;
    }

    .catalog-head {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      height: 43px;

      .catalog-applied-filters {
        display: flex;
        flex-wrap: wrap;

        .catalog-applied-filter {
          border: 2px solid $main-blue-color;
          border-radius: 5px;
          padding: 10px 20px;
          display: flex;
          align-items: center;
          margin-right: 10px;
          margin-bottom: 10px;

          span {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: $main-blue-color;
            margin-right: 8px;
          }

          a {
            text-decoration: none;
            cursor: pointer;
            display: flex;
          }
        }
      }

      .catalog-blog-filters {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        cursor: pointer;
        width: 257px;
        box-sizing: border-box;
        position: relative;

        .catalog-blog-filters-head {
          border-radius: 5px 5px 0 0;
          display: flex;
          justify-content: space-between;

          span {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: $main-text-color;
            margin-right: 68px;
          }
        }

        .catalog-blog-filters-body {
          position: absolute;
          top: 48px;
          width: 100%;
          z-index: 5;
          display: none;
          padding: 12px 0;
          box-sizing: border-box;
          //padding: 12px 23px;
          //display: flex;
          flex-direction: column;
          border-radius: 0 0 5px 5px;

          input[type="checkbox"] {
            display: none;
          }

          .catalog-blog-filters-checkbox {
            margin: 0 23px 14px 23px;
            //margin-bottom:14px ;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            span {
              font-family: "Montserrat", sans-serif;
              font-weight: 400;
              font-size: 16px;
              color: #bebebe;
            }

            .active {
              color: $main-text-color;
            }

            .custom-checkbox {
              font-size: 24px;
              color: #bebebe;

              &::before {
                content: "+";
                display: inline-block;
              }
            }

            input[type="checkbox"]:checked + .custom-checkbox::before {
              // Состояние "активный"
              content: "\2013";
              color: $main-text-color;
            }
          }
        }

        &.open {
          .catalog-blog-filters-head {
            background-color: #b9d5fd;
            width: 211px;
            height: 19px;
            padding: 12px 23px;
          }

          .catalog-blog-filters-body {
            display: flex;
            background: #fff;
          }
        }

        &.filter-open .catalog-blog-filters-body {
          display: flex;
        }


      }
    }

    .catalog-articles {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px 25px;
      margin-top: 30px;
    }

    .pagination {
      margin-top: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      .pagination-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.disabled {
          opacity: 0.5;
          pointer-events: none;
        }


      }

      .pagination-pages {
        margin-left: 40px;
        margin-right: 40px;
        display: flex;
        align-items: center;

        .pagination-page {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          width: 28px;
          height: 46px;
          margin-right: 20px;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 20px;
          text-align: center;
          color: $main-text-color;

          &.active {
            color: #b9d5fd;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

